body{ /*Selector Global de Body*/
    background-color: #f3f4f5; /*Ponemos el color gris a todo el body como el de Wikipedia*/
    font-family: sans-serif; /*Fuente de familia sans-serif como el de Wikipedia*/
}

.background-white{ /*Creamos este selector para que la información se parezca al estilo de Wikipedia*/
    background-color: #FFFFFF;
}

.centrado{ /*Centramos todo el contenido para que se vea igual que Wikipedia*/
    max-width: 1590px; /*Tamaño Maximo de la caja*/
    margin: 0 auto; /*Que no haya margenes*/
    line-height: 1.6; /*Espaciado entre las lineas*/
}

.flex{ /*Para poner Flex*/
    display: flex;
}

.directionflex{ /*Para cambiar la dirección del flex*/
    display: flex;
    flex-direction: column;
}

.espacio{ /* Espacio entre el menu y el texto u otros elementos*/
    gap: 20px;
}

.menu{ /*El CSS del menu*/
    padding: 15px; /*Que haya un espacio interior, para que se vea como el menu de Wikipedia*/
    margin-top: 70px; /*Un margin top para que se separa el menu y este debajo del h1.*/
    font-size: 14px;
}

.apariencia{ /* CSS del Apartado de apariencia para que se vea en medio el contenido*/
    padding: 30px;
    margin-top: 70px;
    font-size: 14px;
}

.inputapariencia input[type="checkbox"] {
    appearance: none; /* EL type checkbox se queda sin apariencia y no hay nada*/
    width: 15px; /*Ponemos un width y un height para crear la forma de un cuadrada para moldearlo despues para que se haga un circulo*/
    height: 15px;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer; /* Sirve para detectar el raton encima del punta como si fuese un botton*/
}

.inputapariencia input[type="checkbox"]:checked{
    background-color: #000; /*El color que sale al presionar, es decir despues de checked*/
}

.imagen{ /*Le ponemos flex para que se vean en el centro del texto*/
    display: flex;
    flex-direction: column;
    justify-content: center; /*Como pusimos en columna, justify y align se intercanvian*/
    gap: 60px;
    padding: 5px;
}

.box{ /*Per fer bordes a les imatges, porque aun no sabemos hacer tablas*/
    border: 1px solid #000000;
}

h1{
    font-family: 'Times New Roman', Times, serif; /*Cambiar el estilo de texto de h1*/
}

a{
    color: #36c; /*Color de los links para que se vea mejor como en Wikipedia*/
}

.espacio-interior{
    padding: 10px; /*Espacio interior para que no se peguen con otros textos / imagenes */
}

.centro{ /*Para alinear al centro divs de imagen verticalmente*/
    display: flex;
    align-items: center;
}

.centrohorizontal{ /*Para alinear el centro de divs de la imagen horizontalmente*/
    display: flex;
    justify-content: center;
}